Repository kw-bookmedicine/frontend, pull requests merged in 2024-04, with the labels that each got.

#110 :art: Style: 나의 증상 목록페이지 UI 구현
  src/App.js
  src/assets/myworry-category-literature.png
  src/pages/MyWorry.jsx
Labels: :art: Design

#113 🎨 Design: 처방전 상세보기 페이지 1차 UI 구현 및 merge 충돌 해결
  .vscode/settings.json
  src/App.js
  src/components/Header.js
  src/components/Prescription/PrescriptionCard.jsx
  src/components/Prescription/ProcessTitle.jsx
  src/pages/Prescription/PrescriptionDetail.jsx
  src/services/api.js
  src/styles/Counseling/PrescriptionCard.css
  src/styles/Counseling/ProcessTitle.css
  src/styles/Prescription/PrescriptionDetail.css
Labels: :bug: bug, :art: Design, :lipstick: Style

#116 💫 Animation: 고민 상담 페이지 카테고리 애니메이션 추가
  .vscode/settings.json
  src/pages/Counseling.jsx
  src/styles/Counseling/Counseling.css
Labels: :dizzy: Animation

#119 🎨 Style: 고민 작성페이지 대화형 UI 구현
  src/App.js
  src/components/Prescription/ProcessTitle.jsx
  src/pages/WorryWrite.jsx
Labels: :art: Design

#126 ✨ Feat: 고민 상담 페이지 UI 및 라우팅 수정
  .gitmessage.txt
  public/icon/art_icon.png
  public/icon/general_icon.png
  public/icon/history_icon.png
  public/icon/language_icon.png
  public/icon/literature_icon.png
  public/icon/philosophy_icon.png
  public/icon/religion_icon.png
  public/icon/science_icon.png
  public/icon/social_icon.png
  public/icon/tech_icon.png
  src/App.js
  src/components/Header.js
  src/components/Prescription/CounselingView.jsx
  src/pages/Counseling.jsx
  src/styles/Counseling/Counseling.css
  src/styles/Counseling/CounselingView.css
Labels: :art: Design, :sparkles: Feat, :lipstick: Style, :dizzy: Animation, ➕Add

#127 ✨ Feat: 고민 상담 페이지 검색 창, 고민 작성 버튼 추가 및 UI 수정
  public/icon/active_search_icon.svg
  public/icon/art_icon.svg
  public/icon/white_search_icon.svg
  public/icon/write_icon.svg
  src/components/Header.js
  src/pages/Counseling.jsx
  src/styles/Counseling/Counseling.css
Labels: :memo: Docs, :lipstick: Style, :dizzy: Animation, ➕Add

#129 🐛 Fix: 로그인 전 홈 화면 swiper 에러 해결
  src/pages/Home.jsx
  src/styles/HomeStyles.css
Labels: :bug: bug, :lipstick: Style

#130 💄 Style: 책 상세보기 페이지 UI 수정
  public/header_logo.png
  src/components/Header.js
  src/pages/BookDetail.jsx
  src/styles/BookDetail.css
  src/styles/Header.css
Labels: :art: Design, :lipstick: Style, ➕Add

#133 ✨ Feat: 마이페이지 UI 수정 및 로직 변경
  src/components/DropDown.js
  src/components/Modal/MyListModal.jsx
  src/pages/Edit.jsx
  src/pages/Mypage.jsx
  src/styles/Button.module.css
  src/styles/DropDown.css
  src/styles/Edit.css
  src/styles/MyPage.css
Labels: :sparkles: Feat, :memo: Docs, :lipstick: Style

#136 🎨 Design: 고민 상세보기 페이지 UI 수정
  src/components/Prescription/WidePrescriptionCard.jsx
  src/pages/WorryDetail.jsx
  src/styles/Counseling/WorryDetail.css
  src/styles/Prescription/WidePrescriptionCard.css
Labels: :art: Design, :sparkles: Feat, :lipstick: Style

#140 🐛 Fix: 로그인, 비밀번호 모든 입력 삭제 X 버튼 제거 및 회원가입 2단계 버튼 수정
  src/App.js
  src/pages/Login.jsx
  src/pages/Login/IdFind.jsx
  src/pages/Login/IdFindResult.jsx
  src/pages/Login/Login.jsx
  src/pages/Login/PasswordFind.jsx
  src/pages/Login/PasswordFindResult.jsx
  src/pages/Login/Signup1.jsx
  src/pages/Login/Signup2.jsx
  src/pages/Login/Signup3.jsx
  src/pages/Signup2.jsx
Labels: :bug: bug

#147 💄 Style: UI 비율 변경
  package-lock.json
  package.json
  src/pages/Edit.jsx
  src/pages/Mypage.jsx
  src/pages/UserInfo.jsx
  src/styles/Button.module.css
  src/styles/MyPage.css
  yarn.lock
Labels: :sparkles: Feat, :memo: Docs, :lipstick: Style

#149 💄 Style: 책 상세정보 보기 페이지 화면 비율에 따른 UI 수정
  src/components/ArrowTitle.js
  src/pages/BookDetail.jsx
  src/styles/ArrowTitle.module.css
  src/styles/BookDetail.css
Labels: :lipstick: Style

#150 📝 Docs: 고민 상담 페이지 UI 및 기능 수정
  public/icon/black_search_icon.svg
  public/icon/mint_write_icon.svg
  src/pages/Counseling.jsx
  src/styles/Counseling/Counseling.css
Labels: :bug: bug, :art: Design, :lipstick: Style, ➕Add

#151 📝 Docs: 고민 카테고리 UI 및 기능 수정, 카드 애니메이션 추가
  src/pages/Home.jsx
  src/pages/Prescription/OneLinePrescription.jsx
  src/styles/Counseling/PrescriptionCard.css
  src/styles/HomeStyles.css
  src/styles/Prescription/OneLinePrescription.css
Labels: :art: Design, :memo: Docs, :lipstick: Style, :dizzy: Animation

#152 💄 Style: 마이페이지 수정하기 버튼 및 복용내역 모달 UI 수정
  src/pages/Mypage.jsx
  src/styles/MyListModal.css
  src/styles/MyPage.css
Labels: :lipstick: Style

#153 🧪 Test: 3차 릴리즈 Vercel 배포
  package-lock.json
  package.json
  public/icon/black_search_icon.svg
  public/icon/mint_write_icon.svg
  src/assets/icons/login-home/left_arrow_icon.png
  src/assets/icons/login-home/right_arrow_icon.png
  src/components/ArrowTitle.js
  src/components/Slider.jsx
  src/pages/BookDetail.jsx
  src/pages/Counseling.jsx
  src/pages/Edit.jsx
  src/pages/Home.jsx
  src/pages/Mypage.jsx
  src/pages/Prescription/OneLinePrescription.jsx
  src/pages/UserInfo.jsx
  src/styles/ArrowTitle.module.css
  src/styles/BookDetail.css
  src/styles/Button.module.css
  src/styles/Counseling/Counseling.css
  src/styles/Counseling/PrescriptionCard.css
  src/styles/HomeStyles.css
  src/styles/LoginHome.css
  src/styles/MyListModal.css
  src/styles/MyPage.css
  src/styles/Prescription/OneLinePrescription.css
  src/styles/Slider.css
  yarn.lock
Labels: 🧪Test

#155 ✨ Feat: 작가 검색 기능 추가
  src/App.js
  src/pages/Search/Search.jsx
  src/pages/Search/SearchResult.jsx
Labels: :sparkles: Feat

#156 💄 Design: 대화 입력이 길면 글자가 넘치는 버그 수정
  src/App.js
  src/pages/Search/SearchResult.jsx
  src/pages/Worry/WorryDetail.jsx
  src/pages/Worry/WorryWrite.jsx
  src/pages/WorryDetail.jsx
Labels: :art: Design, :lipstick: Style

#158 🐛 Fix: 헤더 로그아웃 localhost:3000 이동 수정
  src/components/Button.jsx
  src/components/Header.js
Labels: :bug: bug

#161 :bug: Fix: 애니메이션 효과로 배경색상 딜레이 및 끊김 현상 수정
  src/pages/Worry/WorryWrite.jsx
Labels: :bug: bug
